.post-name{"data-message-id": "#{message.id}"}
  .name
    = message.user.name
  .date
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .post
    - if message.body.present?
      .lower-message__content
        = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
